body {
  background: url("bground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: red;
  background-blend-mode: lighten;
  font-family: 'Oswald';
  text-align: center;

  .headline {
    margin-bottom: 50px;

    &_h2 {
      color: black;
      font-family: 'Pacifico';
      font-size: 8em;
      text-shadow: -.2em 0.2em red;
    }

    &_h3 {
      margin: auto;
      display: inline-block;
      font-size: 1,5em;
      margin: 0 30;
    }
  }

  .box {
    margin-bottom: 50px;

    &_p {
      font-size: 2em;
    }

    &_ipt {
      height: 60px;
      margin-bottom: 60px;

      &_ipt_wndw {
        width: 100px;
        height: 50px;
      }

      &_btn {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background-color: rgba(255, 99, 0, 0.8);
        font-family: 'Pacifico';
        font-size: 1.5em;
      }
    }
  }

  .scorebox {
    display: none;
      position: relative;
      border-bottom: 1px solid black;
      padding: 0 0 10px;
      width: 41,5em;
      text-align: center;
    background-color: rgba(255, 255, 255, 0.59);

&_p {
        font-size: 1.5em;
}

      &:after,
      &:before {
        border-top: 1px solid black;
        content: "";
        position: absolute;
        top: 0;
        width: 45em;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }

      &_h3 {
        color: black;
        line-height: 1.5;
        margin: 0 0 0.45em;
      }

      &_img {
        margin: -1em 0 0;
        width: 1.5em;
        height: auto;
      }
    }

  .textbox {
    display: none;
    position: relative;
    border-bottom: 1px solid black;
    padding: 0 0 10px;
    width: 41,5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.59);
    margin-bottom: 50px;

    &_p,
    &_p2 {
            font-size: 1.5em;
    }

    &:after,
    &:before {
      border-top: 1px solid black;
      content: "";
      position: absolute;
      top: 0;
      width: 45em;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &_h3 {
      color: black;
      line-height: 1.5;
      margin: 0 0 0.45em;
    }

    &_img {
      margin: -1em 0 0;
      width: 1.5em;
      height: auto;
    }
  }
}
