body {
  background-color: red;
  .navbar {
    background: linear-gradient(269deg, #ff2929, #ffffff, #ff3131);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    -o-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
    @-webkit-keyframes AnimationName {
      0% {
        background-position: 0 50%;
      }

      50% {
        background-position: 100% 51%;
      }

      100% {
        background-position: 0 50%;
      }
    }
    @-moz-keyframes AnimationName {
      0% {
        background-position: 0 50%;
      }

      50% {
        background-position: 100% 51%;
      }

      100% {
        background-position: 0 50%;
      }
    }
    @-o-keyframes AnimationName {
      0% {
        background-position: 0 50%;
      }

      50% {
        background-position: 100% 51%;
      }

      100% {
        background-position: 0 50%;
      }
    }
    @keyframes AnimationName {
      0% {
        background-position: 0 50%;
      }

      50% {
        background-position: 100% 51%;
      }

      100% {
        background-position: 0 50%;
      }
    }
    text-align: center;

    h2 {
margin: auto;
display: inline-block;
    }

    h3 {
      margin: auto;

    float: right;
    }
  };

    .parallax {
        background-attachment: fixed;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        &.parallax1 {
            background-image: url(blood1.jpg);
              text-align: center;
#textline, #outpoot {
font-family: 'Prata', serif;
padding: 50px;
  font-size: 30;
  color: white;
}
        }
        &.parallax2 {
            background-image: url(blood2.jpg);

        }
        &.parallax3 {
            background-image: url(blood3.png);
            height: auto;
            #rckik {
              font-size: 20;
              text-align: center;
            }
            #googleMap {
              height: 500px; }

            .infoMap, .infoMap2, .infoMap3, .infoMap4, .infoMap5 {
              display: none;
              border: 3px solid black;
              padding: 10px;
              z-index: 100;
              position: absolute;
              bottom: 250px;
              left: 600px;
              background-color: aliceblue;
            }
              .infoMap span {
                display: block; }
                .infoMap span.title {
                  font-weight: bold; }
        }
        &.text1 {
            height: auto;
            background-color: inherit;
            font-family: 'Prata', serif;
            padding: 50px;
              font-size: 20;
              color: white;
        }
        &.text2 {
            text-align: center;
            height: 200px;
            background-color: beige;
            display: none;
            a.box {
                position: relative;
                display: inline-block;
                margin: 40px 0 40px 0;
                border: 4px solid gray;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-color: coral;
                &.hover {
                    border: 4px solid blue;
                }
                .glyphicon {
                    font-size: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &.text3 {
            height: 200px;
            background-color: beige;
            display: none;
        }
    }
}
